body {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/2334/hill-meadow-tree-green.jpg?cs=srgb&dl=hill-meadow-tree-green-2334.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
